In [2]:
import pandas as pd

df = pd.read_csv("39_Training_Dataset/train_info.csv")
print(df["gender"].value_counts())
print(df["hold racket handed"].value_counts())

gender
1    1627
2     328
Name: count, dtype: int64
hold racket handed
1    1589
2     366
Name: count, dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   unique_id           1955 non-null   int64
 1   player_id           1955 non-null   int64
 2   mode                1955 non-null   int64
 3   gender              1955 non-null   int64
 4   hold racket handed  1955 non-null   int64
 5   play years          1955 non-null   int64
 6   level               1955 non-null   int64
 7   cut_point           1955 non-null   object
dtypes: int64(7), object(1)
memory usage: 122.3+ KB

In [4]:
df['play years'].value_counts()

play years
1    868
2    700
0    387
Name: count, dtype: int64

In [5]:
df["level"].value_counts()

level
5    903
2    715
3    201
4    136
Name: count, dtype: int64